<!DOCTYPE html>
<html lang="en">



<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




<!-- //////////////    HEAD   START    ////////////// -->

  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="http://via.placeholder.com/32x32" sizes="32x32">

      <!-- The title is automatically defined according to the flask title -->
      <title>{% if title %}<title>{{ title }}</title>{% else %}<title>Welcome</title>{% endif %}</title>

      <!-- Bootstrap core CSS online-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


      <!-- Bootstrap core CSS core -->
      <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.css')}}"  media="screen,projection"/> -->


      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

      
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

<!-- //////////////    HEAD   END    ////////////// -->




<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




<!-- //////////////    BODY   START    ////////////// -->

  <body>


    <!-- ++++++++++    NAVBAR   START    ++++++++++ -->

      <header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">

      <!-- ~~~~~~~~    brand start    ~~~~~~~~ -->

        <a class="navbar-brand" href="#"><img src="http://via.placeholder.com/32x32" width="30" height="30" class="d-inline-block align-top" alt=""> Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!-- ~~~~~~~~    brand end    ~~~~~~~~ -->


      <!-- ~~~~~~~~    menu start    ~~~~~~~~ -->

        <div class="navbar-nav-scroll">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item active">
              <a class="nav-link " href="/" rel="noopener">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" rel="noopener">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" rel="noopener">Examples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" rel="noopener">Themes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" target="_blank" rel="noopener">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" rel="noopener">Expo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="" rel="noopener">Blog</a>
            </li>
          </ul>
        </div>
      <!-- ~~~~~~~~    menu end    ~~~~~~~~ -->


      <!-- ~~~~~~~~    button start    ~~~~~~~~ -->
      
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              v0-alpha1
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <a class="dropdown-item active" href="/docs/4.0/">Latest (v0 Alpha 1)</a>
              <!-- <a class="dropdown-item" href="#">v0 Alpha 2</a> -->
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link p-2" href="#" target="_blank"  rel="noopener" aria-label="twitter flux">
              <i class="fa fa-twitter" aria-hidden="true" title="twitter flux"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="chatroom">
             <i class="fa fa-comments" aria-hidden="true" title="chatroom"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="github repo">
              <i class="fa fa-github fa-2" aria-hidden="true" title="github repo"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="">
             <i class="fa fa-plus" aria-hidden="true" title=""></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 disabled" href="#" target="_blank" rel="noopener" aria-label=" ">
              <i class=""> </i>
              <!-- find icon here : http://fontawesome.io/icons/ -->
            </a>
          </li>
        </ul>

        <a class="btn btn-outline-warning" href="#">Download</a>
      <!-- ~~~~~~~~    button start    ~~~~~~~~ -->

      </header>

    <!-- ++++++++++    NAVBAR   END    ++++++++++ -->



    <!-- ++++++++++    MAIN   START    ++++++++++ -->

      {% block content %}{% endblock %}   

    <!-- ++++++++++    MAIN   END    ++++++++++ -->



    <!-- ++++++++++    FOOTER   START    ++++++++++ -->
      <hr>
      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>

    <!-- ++++++++++    FOOTER   END    ++++++++++ -->



    <!-- ++++++++++    JAVASCRIPT   START    ++++++++++ -->


      <!-- ~~~~~~~~    bootstrap core start    ~~~~~~~~ -->

        <!-- Placed at the end of the document so the pages load faster -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <!-- ~~~~~~~~    bootstrap core end    ~~~~~~~~ -->

      <!-- ~~~~~~~~    optional javaScript start    ~~~~~~~~ -->

        <!-- Font Awesome Link -->
        <script src="https://use.fontawesome.com/a299e8655d.js"></script>

      <!-- ~~~~~~~~    optional javaScript end    ~~~~~~~~ -->


    <!-- ++++++++++    JAVASCRIPT   END    ++++++++++ -->


  </body>

<!-- //////////////    BODY   END    ////////////// -->




<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


</html>